body {
  margin: auto;
  min-width: 320px;
  min-height: 100vh;
}
#app {
  margin: 0 auto;
}

.background-container {
  background-image: url('./assets/img/timg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  height: 100vh; /* 确保 div 高度与视口一致 */
  display: flex;
  flex-direction: column;/*垂直方向排列子元素*/
  justify-content: columu;/*水平居中*/
  align-items: center;/*垂直方向对齐*/
}

.title-container{
  margin-bottom: 20px;/*标题容器与登录表单容器之间留出一些间距*/
}

.title {
  text-align: center;
  color: white;
  font-family: '华文行楷';
  font-size: 5em; /* 更改为 5em 符合 CSS 单位习惯 */
}

.login-container{
  background-color: white;
  width: 25%;
  height: 40%;
  border-radius: 1%;
  padding-left: 50px;
  padding-right: 50px;
}
.register-container{
  background-color: white;
  width: 25%;
  height: 68%;
  border-radius: 1%;
  padding-left: 50px;
  padding-right: 50px;
}

.item-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.a-container{
  float: right;
}

.a {
  text-decoration: none; /* 移除下划线 */
  color: #606266; /* 设置文字颜色为蓝色 */
  font-weight: bold; /* 设置文字加粗 */
  transition: color 0.3s ease; /* 添加颜色变化的过渡效果 */
  cursor: pointer;
}

.a:hover {
  color: #0056b3; /* 设置鼠标悬停时的文字颜色 */
}

.a:focus {
  outline: none; /* 移除点击时的虚线框 */
}

.a:active {
  color: #002752; /* 设置点击时的文字颜色 */
}

.watermark{
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0px;
  color: #CCCCCC;
  font-size: 14px;
  /* 元素不响应鼠标事件，即使鼠标光标悬停在该元素上，
  也不会触发事件，事件将会传递到其下面的元素。
  防止水印文字影响用户操作 */
  pointer-events: none;
}
.watermark table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}
.watermark td,th {
  text-align: center;
  padding: 10px;
  transform: rotate(-30deg); /* 将水印文字倾斜 -30 度 */
}
/* 设置了水印倾斜会导致tuchu.vue子组件下的表格表头也倾斜，需要单独将表头倾斜取消 */
.table-container th {
  transform: none; /* 将表头重置为不倾斜 */
}